mixin post(info)
    div
        h3 
            a(href=`/posts/${info.id}`)=info.title
            div
                small=info.createdAt
                samll ((#{info.comments}))
            div 
                small 조회수 #{info.views}