doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Ἀγορά
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/") 홈
                    li 
                        a(href="/posts/upload") 글쓰기 
                    li 
                        a(href="/login") 로그인
                    li
                        a(href="/search") 검색
                form
                    input(type="text" placeholder="통합검색")
                    input(value="검색" type="submit")
        main 
            block content
    include partials/footer