doctype html
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/") 홈
                    if loggedIn
                        li
                            a(href="/profile") #{loggedInUser.nickname}
                        li 
                            a(href="/users/logout") 로그아웃
                        li 
                            a(href="/posts/upload") 글쓰기 
                    else
                        li 
                            a(href="/login") 로그인
                        li 
                            a(href="/join") 회원가입
                block search 
        main 
            block content
    include partials/footer