extends base.pug
include mixins/post

block content 
    form(method="GET")
        input(placeholder="제목 입력..." name="keyword" type="text")
        input(value="검색" type="submit")
    div
        each p in findedPost 
            +post(p)
    