extends ../base

block content 
    form
        input(name="oldPassword" placeholder="현재 비밀번호")
        input(name="newPassword" placeholder="새로운 비밀번호")
        input(name="newPasswordCheck" placeholder="새로운 비밀번호 확인")
        input(type="submit" value="변경하기")